:root {
    --blue1: #004a8d;
    --blue2: #445461;
    --gray1: #95a2ac;
    --gray2: #96a4ad;
    --white1: #ffffff;
    --black1: #000000;
}
body {
    margin:0;
    padding:0;
    font-size: 17px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}
.wrapper {
    overflow-x: hidden;
}
/******* Header **************/
.header-row {
    margin-top: 12px;
    margin-left: -2px !important;
    margin-right: -2px !important;
}
div.contact-us ul {
    margin: 20px 0 24px 0;
    padding: 0;
    text-align: right;
}
div.contact-us ul li {
    display: inline-block;
    padding: 0 0 0 20px;
}
div.contact-us ul li a {
    color: var(--blue2);
    text-decoration: none;
}
div.contact-us input {
    border: 2px solid var(--gray2);
    border-radius: 0;
    float: right;
    height: 46px;
    margin-left: 27%;
    padding: 0 0 0 35px;
    width: 41.8%;
}

div.contact-us .fa.fa-search {
    color: var(--gray2);
    font-size: 19px;
    left: 57%;
    position: absolute;
    bottom: 14px;
    padding-left: 14px;
}
.no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.main_menu-container {

    background: var(--gray2);
    margin-top: 27px;
    min-height: 62px;
    max-height: 62px;
}
.main_menu-row {
    margin-right: -50px !important;
    margin-left: -50px !important;
}
.main_menu {
    margin-right: -7px;
    margin-left: -7px;
}
.main_menu .nav.navbar-nav {
    float: none;
}
.main_menu .nav.navbar-nav li a {
    color: var(--white1);
    letter-spacing: 0.5px;
    line-height: 2;
    padding-right: 9px;
    padding-left:  25px;
    max-height: 62px;
}
.main_menu .nav.navbar-nav li a > span {
    left: 13px;
    position: relative;
}
.main_menu .nav.navbar-nav li a:hover {
    background: var(--blue1);
}
.main_menu .nav.navbar-nav li a:focus span, .main_menu .nav.navbar-nav li a:active span {
    color: var(--white1);
}
.main_menu .nav.navbar-nav li a:focus, .main_menu .nav.navbar-nav li a:active {
    background: var(--blue1);
}
.main_menu .nav.navbar-nav li a:hover span {
    color:var(--blue1);
}

li a, .dropbtn {
    color: var(--black1);
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    background-color: var(--white1);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    display: none;
    min-width: 230px;
    padding-top: 20px;
    padding-bottom: 20px;
    position: absolute;
    z-index: 1;
}
.dropdown-content-categories {
    min-width: 242px !important;
}
.submenu {
    top: 0;
    left: 100%;
    box-shadow: 8px 8px 16px -8px rgba(0, 0, 0, 0.2);
    min-width: 290px;
    background-color: var(--white1);
    padding-top: 20px;
    padding-bottom: 20px;
    position: absolute;
    z-index: 1;
    display: none;
}
.submenu-container:hover .submenu {
    display: block;
}
.submenu-container:hover .sub-dropbtn {
    color: var(--blue1) !important;
    font-size: 17px !important;
    font-weight: 600 !important;
    line-height: 36px !important;
    background: #f9f9f9 !important;
    border: none !important;
    margin-left: 0 !important;
}
.submenu-container:hover .sub-dropbtn i {
    color:  var(--blue2) !important;
}
.dropdown-content a {
    color:   var(--blue2) !important;
    font-size: 17px !important;
    font-weight: 400 !important;
    line-height: 36px !important;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a span {
    position: inherit !important;
    padding-right: 15px;
}
.dropdown-content a i {
    color: var(--white1);
}
.dropdown-content a:hover
{
    color:  #004b8f !important;
    font-size: 17px !important;
    font-weight: 600 !important;
    line-height: 36px !important;
    background: #f9f9f9 !important;
    border: none !important;
    margin-left: 0 !important;;
}
.dropdown-content a:hover i {
    color:   var(--blue2) !important;
}
.dropdown:hover {
    background: var(--blue1);
}
.dropdown:hover .dropbtn {
    color: var(--white1);
    letter-spacing: 0.5px;
    line-height: 2;
    padding-right: 9px;
    padding-left: 25px;
    max-height: 62px;
}
.dropdown:hover .dropbtn span {
    color:var(--blue1);
}
.dropdown:hover .dropdown-content {
    display: block;
}

.page-title {
    color:  #45555f;
}
.page-title h1 {
    font-size: 61px;
    font-weight: 700;
    line-height: 70px;
}
.page-title p {
    margin-top: 18px !important;
    margin-bottom: 50px !important;
    font-size: 41px;
    font-weight: 400;
    line-height: 50px;
}
.content-separator {
    background:url("../img/content-separator.png") no-repeat center;
    background-size: cover;
    min-height: 12px;
    margin-left: -21px !important;
    margin-right: -29px !important;
}
/************** Home Page***********/
.home-page-banner{
    background:url("../img/alpine-products-banner.jpg") no-repeat center;
    min-height: 656px;
    margin-top: 13px;
    margin-bottom: 38px;
    background-size: cover;
}
.homePageSlide{
    margin-top: 13px;
    margin-bottom: 26px;
}
#homePageCarousel .item .active {
    min-height: 656px;
}
#homePageCarousel .carousel-inner {
    min-height: 656px;
}
#homePageCarousel .carousel-text {
    position: absolute;
    bottom: 0;
    z-index: 10;
    padding-bottom: 75px;
    margin-left: -6px;
    color: var(--white1);
    text-align: left;
}
#homePageCarousel .carousel-text h1 {
    font-size: 80px;
    font-weight: 700;
    line-height: 72px;
}
#homePageCarousel .carousel-text:nth-child(1) {
    font-size: 60px;
    font-weight: 400;
    line-height: 72px;
    margin: 0 0 26px;
}
#homePageCarousel .carousel-text .slider-btn{
    color: var(--white1);
    font-size: 19px;
    font-weight: 600;
    line-height: 29.873px;
    text-align: left;
    border: solid 2px var(--white1);
    padding: 13px 20px 12px 22px;
    margin-left: 5px;
    border-radius: 0;
}
#homePageCarousel .carousel-text .slider-btn img {
    padding-left: 6px;
    padding-bottom: 4px;
}
#homePageCarousel .carousel-text  .fa-long-arrow-right{
    padding-left: 7px;
}
.homePageSlide .left.carousel-control, .right.carousel-control {
    background:none;
    color: #96a3ad;
    font-size: 75px;
    opacity: 1;
    text-shadow: none;
    top: 23%;
    width: auto;
}
.homePageSlide .left.carousel-control {
    left: 8%;
    z-index: 10;
    top: 35%;
}
.homePageSlide .left.carousel-control .icon-prev {
    color: var(--white1);
    font-size: 75px;
    opacity: 1;
    text-shadow: none;
}
.homePageSlide .right.carousel-control {
    right: 8%;
    z-index: 10;
    top: 35%;
}
.homePageSlide .right.carousel-control .icon-next {
    color: var(--white1);
    font-size: 75px;
    opacity: 1;
    text-shadow: none;
}
/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    min-height: 656px;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.food {
    background-image:url('../img/food-banner.jpg');
}
.travel {
    background-image:url('../img/travel-banner.jpg');
}
.sport {
    background-image:url('../img/sport-banner.jpg');
}
.music {
    background-image:url('../img/music-banner.jpg');
}
.home-page_content {
    /*background: #e6eaed;*/
    margin-top: 28px;
    min-height: 344px;
    background-image: linear-gradient(left, #fff, #e6eaed 50%, #e6eaed 50%, #fff);
    background-image: -o-linear-gradient(left, #fff, #e6eaed 50%, #e6eaed 50%, #fff);
    background-image: -webkit-linear-gradient(left, #fff, #e6eaed 50%, #e6eaed 50%, #fff);
    background-image: -moz-linear-gradient(left, #fff, #e6eaed 50%, #e6eaed 50%, #fff);
}
.home-page_content .row {
    margin-right: -49px !important;
}
.home-page_content p {
    color:  #6c7b86;
    font-size: 38px;
    font-weight: 400;
    line-height: 52px;
    text-align: left;
    padding-top: 50px;
    padding-left: 5px;
}

#triangle-up {
    border-bottom: 31px solid var(--white1);
    border-left: 31px solid transparent;
    border-right: 31px solid transparent;
    bottom: 0;
    height: 0;
    position: absolute;
    top: 592px;
    width: 0;
    left: -12px;
}

#triangle-down {
    border-left: 31px solid transparent;
    border-right: 31px solid transparent;
    border-top: 31px solid #f4f5f7;
    left: -20px;
    position: absolute;
    bottom: -80px;
}
.home-page_content #triangle-down {
    left: 51.2%;
    bottom: -55px;
    border-top: 31px solid #e6eaed;
}

.contact-us-content #triangle-down {
    left: 51.2%;
    bottom: -31px;
    border-top: 31px solid #e6eaed;
}

.all-posts_content #triangle-down {
    left: 51.2%;
    bottom: -31px;
    border-top: 31px solid #e6eaed;
}

.footer {
    background: radial-gradient( 1000px 900px at 50% top, #878e93 , #e1e1e1 );
    background: -o-radial-gradient(1000px 900px at 50% top, #878e93 , #e1e1e1);
    background: -webkit-radial-gradient(1000px 900px at 50% top, #878e93 , #e1e1e1);
    background: -moz-radial-gradient(1000px 900px at 50% top, #878e93 , #e1e1e1);
}
.footer-row {
    min-height: 542px;
}
.footer_sec_one h5 {
    color: var(--white1);
    font-size: 15px;
    font-weight: 700;
}
.footer_sec_one p {
    color: var(--white1);
    font-size: 15px;
    padding: 0 31% 0 0;
    font-weight: 500;
}
.footer_sec_one img {
    padding-bottom: 32px;
    padding-top: 28px;
}
.footer_sec_two h5 {
    color: var(--white1);
    font-size: 15px;
    font-weight: 700;
    padding-bottom: 8px;
}
.footer_sec_two h5 a {
    color: var(--white1);
    font-size: 15px;
    font-weight: 700;
}
.footer_sec_two ul {
    margin: 0;
    padding: 0;
}
.footer_sec_two ul > li {
    display: block;
    padding: 0 0 4px;
    font-weight: 700;
}
.footer_sec_two ul li a {
    color: var(--white1);
    font-size: 15px;
}
.footer_sec_two {
    padding-top: 13%;
    padding-left: 30px;
}
.footer_sec_three h5 {
    color: var(--white1);
    font-size: 15px;
    font-weight: 700;
    padding-bottom: 8px;
}
.footer_sec_three h5 a {
    color: var(--white1);
    font-size: 15px;
    font-weight: 700;
}
.footer_sec_three ul {
    margin: 0;
    padding: 0;
}
.footer_sec_three ul > li {
    display: block;
    padding: 0 0 4px;
    font-weight: 700;
}
.footer_sec_two ul > li + li {
    font-weight: 500;
}

.footer_sec_three ul > li + li {
    font-weight: 500;
}

.footer_sec_three ul li a {
    color: var(--white1);
    font-size: 15px;
}
.footer_sec_three {
    padding-top: 13%;
    padding-left: 60px;
}
/***/
.footer_sec_four h5 {
    color: var(--white1);
    font-size: 15px;
    font-weight: 700;
    /*padding-bottom: 8px;*/
}
.footer_sec_four h5 a {
    color: var(--white1);
    font-size: 15px;
    font-weight: 700;
}
.footer_sec_four ul {
    margin: 0;
    padding: 8px 0 0 0;
    font-weight: 500;
}
.footer_sec_four ul li {
    display: block;
    padding: 0 0 4px;
}

.footer_sec_four ul li a {
    color: var(--white1);
    font-size: 15px;
}
.footer_sec_four {
    padding-top: 13%;
    padding-left: 80px;
}
.copy_right-row {
    margin-left: -18px !important;
    margin-right: -10px !important;
}
.copy_left p {
    color: #6c7b86;
    font-size: 12px;
    padding: 25px 0 15px;
    text-align: left;
}
.copy_right p {
    color: #6c7b86;
    font-size: 12px;
    padding: 25px 0 15px;
    text-align: right;
    font-weight: 500;
}

/************** Contact Us Page***********/
.contact-us-banner{
    background:url("../img/contact-us-banner.png") no-repeat center;
    min-height: 620px;
    margin-top: 13px;
    margin-bottom: 38px;
    background-size: cover;
}
#contact-us-title {
    margin-bottom: 31px !important;
}
.contact-us-content {
    margin-top: 5px;
    position: relative;
}
.contact-us-content h2 {
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #465660;
}
.contact-us-content p {
    font-size: 22px;
    font-weight: 500;
}
.contact-us-content p span {
    font-size: 22px;
    font-weight: 700;
    color: #465660;
}
.contact-us-row {
    margin-left: -13px !important;
    margin-bottom: 15px;
}
.address {
    color: #014a8e;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 22px;
    padding-top: 27px;
}
.telephone {
    color: #014a8e;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 22px;
    padding-top: 27px;
    margin-top: 15px;
    margin-bottom: 20px;
}
.form-title {
    color: #014a8e;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 22px;
    padding-top: 7px;
    padding-left: 5px;
    margin-bottom: 38px;
}
.contact-us-form {
    padding-left: 20px;
    padding-right: 0;
    margin-bottom: 44px;
}
.contact-us-form .form-group {
    margin-bottom: 20px;
}
.contact-us-form .form-control {
    color:  var(--gray1);
    font-size: 22px;
    font-weight: 400;
    height: auto;
    padding: 9px 15px 12px 15px;
    border-radius: 0;
}
.contact-us-form input.form-control[required]::placeholder {
    font-weight: 600;
}

.contact-us-form input.form-control:valid:focus {
    border-color: rgb(93, 219, 104);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102, 233, 120, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102, 233, 120, 0.6);
}
.contact-us-form input.form-control:invalid:focus {
    border-color: rgb(219, 93, 93);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(233, 102, 141, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(233, 102, 130, 0.6);
}
.contact-us-form  .checkbox {
    padding-top: 0;
}
.contact-us-form  .checkbox label {
    display: inline;
    padding-left: 0;
}
.contact-us-form  .checkbox .input-assumpte {
    display: none;
}
.contact-us-form  .input-assumpte + label::before {
    background-color: #fafafa;
    border: 1px solid #cacece;
    display: inline-block;
    transition-duration: 0.3s;
    width: 52px;
    height: 52px;
    content: '';
}
.contact-us-form  .input-assumpte:checked + label::before {
    background-color: #595959;
}
.contact-us-form  .checkbox-txt {
    color: var(--gray1);
    font-size: 22px;
    font-weight: 400;
    display: table-cell;
    vertical-align: middle;
}
.contact-us-form  button {
    background-color: white;
    border: 1px solid #ccc;
    color: var(--gray1);
    font-size: 22px;
    font-weight: 400;
    height: auto;
    padding: 9px 20px 12px 20px;
    border-radius: 0;
    margin-right: 24px;
}

.contact-us-form  button:hover {
    color: var(--white1);
    background-color: #ed2724;
}
.contact-us-form .form-hint {
    color:  var(--gray1);
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    margin-left: 20px;
}

.arro-icon {
    margin-bottom: 126px;
    margin-top: 42px;
    text-align: center;
}
.arro-icon .fa.fa-angle-up {
    color: var(--gray1);
    font-size: 95px;
    letter-spacing: 2px;
}

/************ tabular-tabs ***************/
.all-posts_content {
    margin-top: 68px;
}
ul.tabular-pills {
    display: table;
    width: 1188px;
    margin-left: -26px;
    margin-right: -26px;
}
.tabular-pills li {
    display: table-cell;
}
.tabular-pills li:nth-child(5) {
    margin-left: 0;
}
.tabular-pills li+li {
    margin-left: 64px;
}
.tabular-pills li:nth-child(n+5):nth-child(-n+8) {
    margin-top: 34px;
}
.tabular-pills li a {
    text-align: center;
    outline-color: #d5d5d5;
    outline-style: dotted;
    outline-width: 1px;
}
.tabular-pills li a img:first-child {
    padding: 1px 0 2px 0;
}
.tabular-pills li a h3 {
    color: #95a3ac;
    font-size: 25px; /* Approximation due to font substitution */
    font-weight: 600;
    letter-spacing: 2.5px;
    white-space: nowrap;
}
.tabular-pills li a .heading-pills {
    width: 201px;
    height: 5px;
    display: inline-block;
    float: none;
    margin: auto;
    background-color: #c6cfd6;
}
.tabular-pills li a:hover, .tabular-pills li a:active, .tabular-pills li a:focus,
.tabular-pills li.active a, .tabular-pills li.active a:hover, .tabular-pills li.active a:active, .tabular-pills li.active a:focus {
    box-shadow: 0 0 11px 5px #dfdedf;
    background-color: #ffffff;
    border-radius: 0;
}
.tabular-pills li a:hover .heading-pills, .tabular-pills li a:active .heading-pills, .tabular-pills li a:focus .heading-pills,
.tabular-pills li.active a .heading-pills, .tabular-pills li.active a:hover .heading-pills, .tabular-pills li.active a:active .heading-pills, .tabular-pills li.active a:focus .heading-pills {
    background-color: #6c7d87;
}
.tabular-pills li a:hover h3, .tabular-pills li a:active h3, .tabular-pills li a:focus h3,
.tabular-pills li.active a h3, .tabular-pills li.active a:hover h3, .tabular-pills li.active a:active h3, .tabular-pills li.active a:focus h3 {
    color: #104885;
}
.post-category-container {
    margin-top: 36px;
}
.category-heading {
    margin-left: -1px;
    color:  val(--blue2);
    font-size: 61px;
    font-weight: 700;
    line-height: 70px;
}
.category-sub-heading {
    padding-top: 7px;
    margin-left: -1px;
    color:  val(--blue2);
    font-size: 41px;
    font-weight: 400;
    line-height: 50px;
}
.category-heading-img {
    margin-top: -40px;
    text-align: right;
}
.separator1px {
    background:url("../img/content-separator1px.png") no-repeat center;
    background-size: cover;
    min-height: 12px;
    margin-left: -21px !important;
    margin-right: -29px !important;
    margin-top: 5px;
    margin-bottom: 10px;
}
.tab-header-separator1px {
    background:url("../img/content-separator1px.png") no-repeat center;
    background-size: cover;
    min-height: 12px;
    margin-left: -21px !important;
    margin-right: -29px !important;
    margin-top: 40px;
    margin-bottom: 10px;
}
table.posts {
    display: block;
}
table.posts tr {
    border-bottom: solid 1px #96a4ad;
}
table.posts tr:last-child {
    border-bottom: 0px;
}

table.posts td > h1 {
    color: #004b8d;
    font-size: 34px;
    font-weight: 700;
    line-height: 45px;
    margin-bottom: 14px;
}

table.posts td  h1.sub-title {
    font-size: 20px;
    margin-top: -10px;
    font-weight: 500;
}

table.posts td  p {
    color: #6c7b86;
    font-size: 22px;
    font-weight: 400;
    line-height: 34px;
    margin-left: 2px;
    margin-top: -3px;
}
.post-image {
    padding-left: 55px;
    padding-top: 10px;
}
table.posts td  img {
    width: 440px;
    height: 245px;
    padding-bottom: 19px;
    box-sizing: border-box;
}
